<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
</head>
<body>
    Admin Dashboard

    must see: 
    <ol>
        <li>Cities</li>
        <li>Nodes</li>
        <li>Flows</li>
</body>
</html>