<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
</head>
<body>
    Admin Dashboard

    Todo list:
    <ol>
        <li>Cities</li>
        <li>Nodes per city</li>
        <li>Flows per city</li>
        <li>Users</li>
        <li><a href="/WF/logout">Logout</a></li>
    </ol>

</body>
</html>